@model IEnumerable<Solution.Web.Models.Quiz>

@{
    ViewBag.Title = "GetAllQuiz";
    Layout = "~/Views/Shared/_Layouttt.cshtml";
}

<h2>GetAllQuiz</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rep1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rep2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rep3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correctAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quizType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rep1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rep2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rep3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correctAnswer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quizType)
        </td>
        
    </tr>
}

</table>
