@using Solution.Web.Models


@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@{
    EmployeeModel e = Session["EmployeeConnecte"] as EmployeeModel;
}
<h2>PageHome</h2>

<p> @Session["emp"].ToString() </p>
<p> @Session["emp2"].ToString() </p>
<p>
    <img src="data:image/jpeg;base64,@Session["emp3"].ToString() " width="130" height="130"></img>
</p>
<p> @Session["emp4"].ToString()</p>
<p>@e.id</p>
<p>@e.nom</p>
<p>@e.datenaissance</p>
<p>@e.isActif</p>
<p>@e.etatcivil</p>
<p>@Session["emp5"].ToString()</p>

