<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title></title>

</head>
<body>
    <a href="@Url.Action("Create"," evaluation")">add new eval</a>
    <table cellpadding="2" cellspacing="2" border="1">
      
        
       <tr>nom</tr>
        <tr>description</tr>
        <tr>type</tr>
        <tr>obj</tr>
        
        @foreach(var p in ViewBag.result)
        {
    <tr>
        <td>@p.nom</td>
        <td>@p.description</td>
        <td>@p.e_type</td>
        <td>@p.objectif</td>
    </tr>
        }
    </table>
       </body>

</html>

