@model IEnumerable<Solution.Domain.Entities.mission>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title></title>

</head>
<body>
	<a href="@Url.Action("Create"," mission")">add new mission</a>
	<table cellpadding="2" cellspacing="2" border="1">

		<tr>
			<th>libelle</th>
			<th>description</th>
		</tr>

		@foreach (var p in ViewBag.result)
		{
		<tr>
			<td>@p.libelle</td>
			<td>@p.description</td>





			<td>
				@Html.ActionLink("Edit", "Edit", new { id = @p.id }) |
				@Html.ActionLink("Details", "Details", new { id = @p.id }) |
				@Html.ActionLink("Delete", "Delete", new { id = @p.id })
			</td>
		</tr>}
	</table>
</body>

</html>

