@model IEnumerable<Solution.Web.Models.ModelAvis>
@Scripts.Render("~/bundles/jquery")

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    <meta name="viewport" content="width=device-width" />
    <title>Questionnaire</title>


</head>


<body>

    <h:form class="custom-form">

        <div class="col-md-9">

            <div class="dashboard-list-box fl-wrap">
                <div class="dashboard-header fl-wrap">
                    <h3>Questionnaire</h3>
                </div>
                <!-- dashboard-list end-->

                <div class="dashboard-list">
                    <div class="dashboard-message">
                        <span class="new-dashboard-item"><a>  @Html.ActionLink("Back to List", "Index")</a></span>
                        <div>

                            <hr />
                            <div class="dl-horizontal">
                                @foreach (var item in Model)
                                {

                                    <div class=" fl-wrap filter-tags">
                                        <h4> @Html.DisplayFor(modelItem => item.avis1) </h4>
                                        <input id="a1" type="radio" name="check" runat="server">
                                        <label for="a1"> @Html.DisplayFor(modelItem => item.rep1)</label>
                                        <input id="a2" type="radio" name="check" runat="server">
                                        <label for="a2"> @Html.DisplayFor(modelItem => item.rep2)</label>
                                        <input id="a3" type="radio" name="check" runat="server">
                                        <label for="a3"> @Html.DisplayFor(modelItem => item.rep3)</label>

                                    </div>

                                    <div class=" fl-wrap filter-tags">
                                        <h4> @Html.DisplayFor(modelItem => item.avis2) </h4>
                                        <input id="a4" type="radio" name="check1">
                                        <label for="a4"> @Html.DisplayFor(modelItem => item.rep3)</label>
                                        <input id="a5" type="radio" name="check1">
                                        <label for="a5"> @Html.DisplayFor(modelItem => item.rep4)</label>
                                        <input id="a6" type="radio" name="check1">
                                        <label for="a6"> @Html.DisplayFor(modelItem => item.rep5)</label>
                                    </div>
                                    <div class=" fl-wrap filter-tags">
                                        <h4> @Html.DisplayFor(modelItem => item.avis3) </h4>
                                        <input id="a7" type="radio" name="check2">
                                        <label for="a7"> @Html.DisplayFor(modelItem => item.rep6)</label>
                                        <input id="a8" type="radio" name="check2">
                                        <label for="a8"> @Html.DisplayFor(modelItem => item.rep7)</label>
                                        <input id="a9" type="radio" name="check2">
                                        <label for="a9"> @Html.DisplayFor(modelItem => item.rep8)</label>
                                    </div>

                                    <div class=" fl-wrap filter-tags">
                                        <h4> @Html.DisplayFor(modelItem => item.avis4) </h4>
                                        <input id="a10" type="radio" name="check3">
                                        <label for="a10"> @Html.DisplayFor(modelItem => item.rep9)</label>
                                        <input id="a11" type="radio" name="check3">
                                        <label for="a11"> @Html.DisplayFor(modelItem => item.rep10)</label>
                                        <input id="a12" type="radio" name="check3">
                                        <label for="a12"> @Html.DisplayFor(modelItem => item.rep11)</label>
                                    </div>




                                    <dt>
                                        @Html.DisplayNameFor(model => model.dateAvis)
                                    </dt>
                                    <dt>
                                        @Html.DisplayFor(modelItem => item.dateAvis)
                                    </dt>





                                    <dt>
                                        @Html.DisplayNameFor(model => model.etat)
                                    </dt>

                                    <dt>
                                        @Html.DisplayFor(modelItem => item.etat)
                                    </dt>






                                }


                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </h:form>



</body>



<input id="ff" value="confirmer" type="submit" class="btn btn-thm" onclick="test()">
<script>
                             
    function test() {
        var a = 0;
        if (document.getElementById("a1").checked ){
           
            a = a+3;
        }
        if (document.getElementById("a4").checked) {
            a = a + 3;
        }
         if (document.getElementById("a7").checked) {
            a = a + 3;
         }
         if (document.getElementById("a10").checked) {
            a = a + 3;
         }
         if (document.getElementById("a2").checked) {
            a = a + 2;
         }
         if (document.getElementById("a5").checked) {
            a = a + 2;
         }
         if (document.getElementById("a8").checked) {
            a = a + 2;
         }
         if (document.getElementById("a11").checked) {
            a = a + 2;
         }
         if (document.getElementById("a3").checked) {
            a = a + 1;
         }
         if (document.getElementById("a6").checked) {
            a = a + 1;
         }
         if (document.getElementById("a9").checked) {
            a = a + 1;
         }
         if (document.getElementById("a12").checked) {
            a = a + 1;
        }
      
        if (a <=5) {
            alert("bhim");
        } else if (a > 5 && a <9) {
            alert("metwaset");
        } else if (a>9) {
            alert("dhkey");
        }
    }
</script>